@import 'scaling';

:root {
    touch-action: pan-x pan-y;
    height: 100%
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  /*overscroll-behavior: contain;*/
}

* {
  user-select: none;
  box-sizing: border-box;
}

.button-s,
.button-m,
.button-l {
  background-color: var(--button-bg);
  color: var(--button-color);
  text-decoration: none;
  padding: $sc3 $sc5;
  border-radius: $sc2;
  text-align: center;

  * {
    text-decoration: none;
  }

  &.default {
    background-color: var(--default-btn-bg);
    color: var(--default-btn-color);
  }

  &.secondary {
    background-color: var(--secondary-btn-bg);
    color: var(--secondary-btn-color);
  }

  &:disabled,
  &.disabled {
    background-color: var(--disabled-btn-bg);
    color: var(--disabled-btn-color);

    * {
      color: var(--disabled-btn-color);
    }
  }
}

.button-s {
  font-size: $sc4;
  padding: $sc2 $sc3;
}

.button-m {
  font-size: $sc5;
}

.button-l {
  font-size: $sc7;
}

.full-width {
  width: 100% !important;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--container-bg);
  padding: $sc3 0;
  margin-top: $sc3;
  border-radius: $sc2;

  .header {
    font-size: $sc5;
    margin-bottom: $sc3;
  }
}

.text-input {
  width: calc(100% - $sc6);
  border-radius: $sc2;
  border: none;
  font-size: $sc5;
  padding: $sc1;
  text-align: center;
}

.page-content {
  padding: $sc2;
  width: 100%;
}

.mb1 {
  margin-bottom: $sc1;
}
.mb2 {
  margin-bottom: $sc2;
}
.mb3 {
  margin-bottom: $sc3;
}
.mb4 {
  margin-bottom: $sc4;
}
.mb5 {
  margin-bottom: $sc5;
}
.mt1 {
  margin-top: $sc1;
}
.mt2 {
  margin-top: $sc2;
}
.mt3 {
  margin-top: $sc3;
}
.mt4 {
  margin-top: $sc4;
}
.mt5 {
  margin-top: $sc5;
}