:root {
    touch-action: pan-x pan-y;
    height: 100%
}

:root[data-theme='dark'] {
  --background-color: #4d4d4d;
  --navbar-color: #333333;
  --default-btn-bg: #00a781;
  --selected-bg-color: #25695a;
  --selected-color: #00a983;
  --text-color: white;
  --container-bg: #3e3e3e7a;
  --button-bg: #000000;
  --button-color: #ffffff;
  --option-bg: black;
  --disabled-btn-bg: #202020;
  --disabled-btn-color: #525252;
  --selection-bg-color: #494949;
  --border-color: #494949;
  --default-btn-color: #ffffff;
  --secondary-btn-bg: #303030;
  --secondary-btn-color: #ffffff;
  --error-text-color: #00f5be;
  --shadow-color: #00000057;
  --nav-height: 20vmin;
  --select-border-color: black;
  --attention-text-color: #00f5be;
  --back-button-bg: #404040;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  /*overscroll-behavior: contain;*/
}

* {
  user-select: none;
  box-sizing: border-box;
}

.button-s,
.button-m,
.button-l {
  background-color: var(--button-bg);
  color: var(--button-color);
  text-decoration: none;
  padding: 3vmin 5vmin;
  border-radius: 2vmin;
  text-align: center;

  * {
    text-decoration: none;
  }

  &.default {
    background-color: var(--default-btn-bg);
    color: var(--default-btn-color);
  }

  &.secondary {
    background-color: var(--secondary-btn-bg);
    color: var(--secondary-btn-color);
  }

  &:disabled,
  &.disabled {
    background-color: var(--disabled-btn-bg);
    color: var(--disabled-btn-color);

    * {
      color: var(--disabled-btn-color);
    }
  }
}

.button-s {
  font-size: 4vmin;
  padding: 2vmin 3vmin;
}

.button-m {
  font-size: 5vmin;
}

.button-l {
  font-size: 7vmin;
}

.full-width {
  width: 100% !important;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--container-bg);
  padding: 3vmin 0;
  margin-top: 3vmin;
  border-radius: 2vmin;

  .header {
    font-size: 5vmin;
    margin-bottom: 3vmin;
  }
}

.text-input {
  width: calc(100% - 6vmin);
  border-radius: 2vmin;
  border: none;
  font-size: 5vmin;
  padding: 1vmin;
  text-align: center;
}

.page-content {
  padding: 2vmin;
  width: 100%;
}

.mb1 {
  margin-bottom: 1vmin;
}
.mb2 {
  margin-bottom: 2vmin;
}
.mb3 {
  margin-bottom: 3vmin;
}
.mb4 {
  margin-bottom: 4vmin;
}
.mb5 {
  margin-bottom: 5vmin;
}
.mt1 {
  margin-top: 1vmin;
}
.mt2 {
  margin-top: 2vmin;
}
.mt3 {
  margin-top: 3vmin;
}
.mt4 {
  margin-top: 4vmin;
}
.mt5 {
  margin-top: 5vmin;
}


$an-len: 5vmin;

@keyframes background-movement-1 {
  from {
    transform: translate(calc(-50% - $an-len), calc(-50% - $an-len));
  }
  to {
    transform: translate(-50%, -50%);
  }
}

@keyframes background-movement-2 {
  from {
    transform: translate(calc(-50% - 2%), -50%);
  }
  to {
    transform: translate(calc(-50% - 2% - $an-len), calc(-50% - $an-len));
  }
}


.bg-svg {
  opacity: 0.05;
  position: absolute;
  z-index: -1;
  top: 50%;
  width: 300%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.bg-svg-1 {
    animation: background-movement-1 10s ease-in-out alternate infinite;
  }

  &.bg-svg-2 {
    animation: background-movement-2 10s ease-in-out alternate infinite;
  }
}