:root {
  --nav-height: 20vmin;
  --background-color: #ffffff;
  --text-color: black;
  --selected-color: #0033ff;
  --container-bg: #f7f7f7;
  --button-bg: #dddddd;
  --button-color: black;
  --navbar-color: #ffffff;
  --shadow-color: rgba(215 215 215, 0.91);
  --option-bg: #ffffff;
  --disabled-btn-bg: #e1e1e1;
  --disabled-btn-color: #b5b5b5;
  --select-border-color: black;
  --selection-bg-color: #dddddd;
  --selected-bg-color: #d4e1ff;
  --border-color: #e7e7e7;
  --default-btn-bg: #0030f3;
  --default-btn-color: #ffffff;
  --secondary-btn-bg: #cfcfcf;
  --secondary-btn-color: #000000;
}

:root[data-theme='dark'] {
  --background-color: #333333;
  --text-color: white;
  --selected-color: #7800ff;
  --container-bg: #3e3e3e;
  --button-bg: #000000;
  --button-color: #ffffff;
  --navbar-color: #303030;
  --shadow-color: rgba(0, 0, 0, 0.91);
  --option-bg: black;
  --disabled-btn-bg: #202020;
  --disabled-btn-color: #525252;
  --selection-bg-color: #494949;
  --selected-bg-color: #4a3293;
  --border-color: #494949;
  --default-btn-bg: #7800ff;
  --default-btn-color: #ffffff;
  --secondary-btn-bg: #515151;
  --secondary-btn-color: #ffffff;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  /*overscroll-behavior: contain;*/
}

* {
  user-select: none;
  box-sizing: border-box;
}

.button-s,
.button-m,
.button-l {
  background-color: var(--button-bg);
  color: var(--button-color);
  text-decoration: none;
  padding: 3vmin 5vmin;
  border-radius: 2vmin;
  margin-bottom: 3vmin;
  text-align: center;

  * {
    text-decoration: none;
  }

  &.default {
    background-color: var(--default-btn-bg);
    color: var(--default-btn-color);
  }

  &.secondary {
    background-color: var(--secondary-btn-bg);
    color: var(--secondary-btn-color);
  }

  &:disabled,
  &.disabled {
    background-color: var(--disabled-btn-bg);
    color: var(--disabled-btn-color);

    * {
      color: var(--disabled-btn-color);
    }
  }
}

.button-s {
  font-size: 5vmin;
}

.button-m {
  font-size: 5vmin;
}

.button-l {
  font-size: 7vmin;
}

.full-width {
  width: 100% !important;
}

.page-content {
  padding: 2vmin;
  width: 100%;
}