@import '../../global/styles/scaling';

.page-addplayer {

  .add-player {
    margin-top: $sc5;
  }

  .validation-error {
    font-size: $sc5;
    margin-top: $sc3;
    text-align: center;
    color: var(--error-text-color);
  }
}