@import '../../global/styles/scaling';

.page-playerselection {
  display: flex;
  flex-direction: column;
  align-items: center;

  .player-selection {
    padding-bottom: 0;
  }

  .player-list {
    width: 100%;
    max-height: 55vh;
    overflow-y: auto;

    .player {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: $sc6;
      padding: $sc3;

      &.selected {
        background-color: var(--selected-bg-color);
      }


      .selection {
        width: $sc7;
        height: $sc7;
        border-radius: $sc2;
        background-color: var(--selection-bg-color);

        &.selected {
          background-color: var(--selected-color);
        }
      }

      .spacer {
        width: $sc7;
      }
    }
  }

  .continue {
    margin-top: $sc5;
  }
}