@import '../../global/styles/scaling';

:root[data-theme='dark'] {
  --ingame-background-color: var(--background-color);
  --ingame-input-bg: #5a5a5a;
  --ingame-input-color: white;
  --ingame-miss-btn-bg: gray;
  --ingame-factor-btn-bg: #9d0000;
  --ingame-factor-btn-active-bg: #e50000;
  --ingame-cancel-btn-bg: black;
  --ingame-cancel-btn-color: #efefef;
  --ingame-bull-bg: #5a5a5a;
  --ingame-double-bull-bg: #5a5a5a;
  --ingame-input-active-bg: gray;
  --ingame-miss-active-bg: #adadad;
  --ingame-cancel-active-bg: #1a1a1a;
  --ingame-bull-active-bg: gray;
  --ingame-double-bull-active-bg: gray;
  --ingame-current-player-bg: #2c5a50;
  --ingame-score-bg: #efefef;
  --ingame-empty-score-bg: #3f7267;
}

@keyframes slide-to-left {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100%, 0);
  }
}

@keyframes slide-from-left {
  from {
    transform: translate(-100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

.page-ingame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--ingame-background-color);

  .ingame-page-content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;

    &.slide-to-left {
      animation: slide-to-left 0.3s forwards;
    }

    &.slide-from-left {
      animation: slide-from-left 0.3s forwards;
    }
  }

  .score-status {
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    position: fixed;
    top: 0;

    .scoreboard {
      width: 100%;
      padding: $sc30 0;

      .player {
        font-size: $sc5;
        transition: background-color 0.5s;

        &.current {
          background-color: var(--ingame-current-player-bg);
          font-size: $sc7;

          .player-order-number {
            font-size: $sc4 !important;
          }
        }

        .player-info {
          display: flex;
          align-items: center;
          padding: $sc2 $sc2 $sc2 $sc6;
          position: relative;

          & > div {
            text-align: center;

            &.name {
              width: 50%;
            }

            &.total-score {
              width: 50%;
            }
          }

          .player-order-number {
            font-size: $sc3;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: $sc2;
            color: #b5b5b5;
          }
        }

        .turn-info {
          display: flex;
          justify-content: center;
          padding: $sc3 0 $sc5 0;

          .dart {
            background-color: var(--ingame-score-bg);
            border-radius: 100%;
            height: $sc13;
            width: $sc13;
            color: black;
            font-size: $sc5;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: relative;

            & > div {
              display: flex;
            }

            &.empty:not(.active) {
              background-color: var(--ingame-empty-score-bg);
            }

            &.active {
              box-shadow: 0 0 0 $sc1 var(--selected-color);
            }

            &:not(:first-child) {
              margin-left: $sc10;
            }

            .bust {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              color: var(--attention-text-color);
              transform: translateY(-83%);
              display: flex;
              justify-content: center;
              font-size: $sc5;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .score-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $sc2;
    padding: $sc2;
    position: fixed;
    bottom: 0;
    background-color: var(--ingame-background-color);

    .input-row {
      display: flex;
      width: 100%;
      gap: $sc2;

      .input {
        flex-grow: 1;
        background-color: var(--ingame-input-bg);
        color: var(--ingame-input-color);
        text-align: center;
        padding: $sc3 0;
        border-radius: $sc2;
        font-size: $sc5;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-family: initial;

        &.disabled {
          background-color: var(--disabled-btn-bg) !important;
          color: var(--disabled-btn-color) !important;
        }

        &:active:not(.disabled) {
          background-color: var(--ingame-input-active-bg);
        }

        &.one3th {
          width: calc(100% / 3);
        }

        &.one4th {
          width: calc(100% / 4);
        }

        &.one5th {
          width: calc(100% / 5);
        }

        &.cancel {
          font-size: $sc4;
          background-color: var(--ingame-cancel-btn-bg);
          color: var(--ingame-cancel-btn-color);

          &:active:not(.disabled) {
            background-color: var(--ingame-cancel-active-bg);
          }
        }

        &.factor {
          background-color: var(--ingame-factor-btn-bg);

          &.active:not(.disabled) {
            background-color: var(--ingame-factor-btn-active-bg);
          }

          &:active {
            background-color: var(--ingame-factor-btn-bg);
          }
        }

        &.confirm {
          background-color: var(--default-btn-bg);
          color: var(--default-btn-color);
        }

        &.miss {
          background-color: var(--ingame-miss-btn-bg);

          &:active:not(.disabled) {
            background-color: var(--ingame-miss-active-bg);
          }
        }

        &.bull {
          background-color: var(--ingame-bull-bg);

          &:active:not(.disabled) {
            background-color: var(--ingame-bull-active-bg);
          }
        }

        &.double-bull {
          background-color: var(--ingame-double-bull-bg);

          &:active:not(.disabled) {
            background-color: var(--ingame-double-bull-active-bg);
          }
        }
      }
    }
  }

  .game-over-notification {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    padding: $sc5;
    font-size: $sc5;
  }
}