:root {
  --ingame-input-bg: #5a5a5a;
  --ingame-input-color: white;
  --ingame-miss-btn-bg: gray;
  --ingame-factor-btn-bg: #9d0000;
  --ingame-factor-btn-active-bg: #e50000;
  --ingame-cancel-btn-bg: black;
  --ingame-bull-bg: #5a5a5a;
  --ingame-double-bull-bg: #5a5a5a;
  --ingame-input-active-bg: gray;
  --ingame-miss-active-bg: #8d8d8d;
  --ingame-cancel-active-bg: #1a1a1a;
  --ingame-bull-active-bg: gray;
  --ingame-double-bull-active-bg: gray;
  --ingame-current-player-bg: #00a781;
  --ingame-empty-score-bg: #61c3ad;
}

:root[data-theme='dark'] {
  --ingame-input-bg: #5a5a5a;
  --ingame-input-color: white;
  --ingame-miss-btn-bg: gray;
  --ingame-factor-btn-bg: #9d0000;
  --ingame-factor-btn-active-bg: #e50000;
  --ingame-cancel-btn-bg: black;
  --ingame-bull-bg: #5a5a5a;
  --ingame-double-bull-bg: #5a5a5a;
  --ingame-input-active-bg: gray;
  --ingame-miss-active-bg: #adadad;
  --ingame-cancel-active-bg: #1a1a1a;
  --ingame-bull-active-bg: gray;
  --ingame-double-bull-active-bg: gray;
  --ingame-current-player-bg: #2c5a50;
  --ingame-score-bg: #efefef;
  --ingame-empty-score-bg: #3f7267;
}

.page-ingame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .score-status {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .scoreboard {
      width: 100%;

      .player {
        font-size: 5vmin;

        &.current {
          background-color: var(--ingame-current-player-bg);
          font-size: 7vmin;

          .player-order-number {
            font-size: 4vmin !important;
          }
        }

        .player-info {
          display: flex;
          align-items: center;
          padding: 2vmin;
          position: relative;

          & > div {
            width: 50%;
            text-align: center;
          }

          .player-order-number {
            font-size: 3vmin;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 2vmin;
            color: #b5b5b5;
          }
        }

        .turn-info {
          display: flex;
          justify-content: center;
          padding: 3vmin 0 5vmin 0;

          .dart {
            background-color: var(--ingame-score-bg);
            border-radius: 100%;
            height: 13vmin;
            width: 13vmin;
            color: black;
            font-size: 5vmin;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            & > div {
              display: flex;
            }

            &.empty:not(.active) {
              background-color: var(--ingame-empty-score-bg);
            }

            &.active {
              box-shadow: 0 0 0 1vmin var(--selected-color);
            }

            &:not(:first-child) {
              margin-left: 10vmin;
            }
          }
        }
      }
    }
  }

  .score-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2vmin;
    padding: 2vmin;

    .input-row {
      display: flex;
      width: 100%;
      gap: 2vmin;

      .input {
        flex-grow: 1;
        background-color: var(--ingame-input-bg);
        color: var(--ingame-input-color);
        text-align: center;
        padding: 3vmin 0;
        border-radius: 2vmin;
        font-size: 5vmin;
        display: flex;
        align-items: center;
        justify-content: center;

        &.disabled {
          background-color: var(--disabled-btn-bg) !important;
          color: var(--disabled-btn-color) !important;
        }

        &:active:not(.disabled) {
          background-color: var(--ingame-input-active-bg);
        }

        &.one3th {
          width: calc(100% / 3);
        }

        &.one4th {
          width: calc(100% / 4);
        }

        &.one5th {
          width: calc(100% / 5);
        }

        &.cancel {
          font-size: 4vmin;
          background-color: var(--ingame-cancel-btn-bg);

          &:active:not(.disabled) {
            background-color: var(--ingame-cancel-active-bg);
          }
        }

        &.factor {
          background-color: var(--ingame-factor-btn-bg);

          &.active:not(.disabled) {
            background-color: var(--ingame-factor-btn-active-bg);
          }
        }

        &.confirm {
          background-color: var(--default-btn-bg);
          color: var(--default-btn-color);
        }

        &.miss {
          background-color: var(--ingame-miss-btn-bg);

          &:active:not(.disabled) {
            background-color: var(--ingame-miss-active-bg);
          }
        }

        &.bull {
          background-color: var(--ingame-bull-bg);

          &:active:not(.disabled) {
            background-color: var(--ingame-bull-active-bg);
          }
        }

        &.double-bull {
          background-color: var(--ingame-double-bull-bg);

          &:active:not(.disabled) {
            background-color: var(--ingame-double-bull-active-bg);
          }
        }
      }
    }
  }
}