@import '../../../global/styles/scaling';
@import '../../../global/styles/variables';


.component-navigation-header {

  .spacemaker {
    height: $nav-height;
  }

  header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: $nav-height;
    box-shadow: 0 0 $sc3 var(--shadow-color);
    background-color: var(--navbar-color);
    top: 0;
    left: 0;
    right: 0;

    .previous-page {
      position: absolute;
      top: 50%;
      left: $sc4;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $sc9;
      font-weight: bold;
      width: $sc10;
      height: $sc10;
      border-radius: 50%;
      background-color: var(--back-button-bg);
      color: var(--text-color);
      box-shadow: 0 0 $sc5 var(--back-btn-shadow-color);

      svg {
        width: 65%;

        * {
          stroke: var(--text-color);
          fill: var(--text-color);
        }
      }
    }

    .title {
      font-size: $sc7;
    }
  }
}