@import '../../global/styles/scaling';

.page-newgame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;


  .gamesettings-menu {
    display: flex;
    flex-direction: column;

    .menu-section {
      width: 100%;
    }
  }

  .continue {
    margin-top: $sc5;
  }
}