@import '../../styles/scaling';

.component-custom-radio {
  .title {
    font-size: $sc5;
    margin-bottom: $sc3;
  }

  .options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: $sc3;
  }

  .option {
    background-color: var(--button-bg);
    color: var(--button-color);
    padding: $sc4;
    font-size: $sc5;
    border-radius: $sc2;
    transition: 0.1s;

    &.selected {
      box-shadow: 0 0 0 $sc1 inset var(--selected-color);
    }

    &.disabled {
      background-color: var(--disabled-btn-bg);
      color: var(--disabled-btn-color);
    }
  }
}